*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

:root{
    --ligthpurple:#dfaee7;
    --mediumpurple: #b97fc4;
    --darkpurple:#845a93;
    --softpink: #ffc5e1;
    --fucsia: #ff8cbf;
    --cream: #f9e6e4;
    --tealgreenligth: #c1e5df;
}


/*-------- HEADER --------*/

header, .navbar-home{
    width: 100%;
    height: 70px;
    background: var(--mediumpurple);
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 10px 40px;
    top: 0;
    z-index: 3;
}


.navbar{
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-list{
    display: flex;
    list-style: none;
    gap: 20px;
}

.cart-icon{
    height: 1rem;
    cursor: pointer;
    color: white;
}

.cart-bubble {
    position: absolute;
    top: 15px;
    right: 50px;
    text-align: center;
    background: var(--fucsia);
    color: white;
    font-size: 10px;
    height: 18px;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    border-radius: 50%;
  }
  

.navbar-list a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.navbar-list a:hover{
    color: var(--darkpurple);
}

.menu-label{
    color: var(--tangerine);
    font-size: 18px;
    display: none;
}

#menu-toggle {
    display: none;
}

#cart-toggle{
    display: none;
}


/*-------- CART MENU --------*/
.cartmenu{
    display: none;
    /* display: flex; */
    position: absolute;
    top: 70px;
    right: 0;
    flex-direction: column;
    background-color: white;
    border-left: 1px solid var(--fucsia);
    border-bottom: 1px solid var(--fucsia);
    border-radius: 0 0 0 1rem;
    box-shadow: var(--fucsia) -8px 8px 30px 0 ;
    padding: 20px;
    gap: 10px;
    z-index: 2;

}

.cartmenu h2{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    color: var(--fucsia);
}

.cart-selection{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.empty-msg{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px ;
    gap: 10px;
    border-radius: 1rem;
    border: 1px solid var(--softpink);
    font-size: 18px;
    color: var(--softpink);
}
.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px ;
    gap: 10px;
    border-radius: 1rem;
    border: 1px solid var(--softpink);
}

.cart-item img{
    width: 80px;
    height: 80px;
    object-fit: cover;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.cart-item-info h4{
    color: var(--mediumpurple);
    font-size: 14px;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-item-info p{
    font-size: 14px;
}


.quantity{
    display: flex;
    justify-content: space-around;
    gap: 5px;
}

.minus,
.plus,
.qty {
    font-size: 10px;
    border: 1px solid  var(--fucsia);
    padding: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 70%;
    border-radius: 5px;
    box-shadow: 2px 2px 0 0 var(--fucsia);
}

.cart-line{
    background: var(--fucsia);
    height: 1px;
    width: 100%;
}

.cart-total{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    color: var(--mediumpurple);
    font-size: 20px;
}


.cart-buttons{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 5px;
    
}

.chekout-btn,
.clear-btn {
    color: white;
    border-radius: 10px;
    background: var(--fucsia);
    border: 1px solid var(--softpink);
    box-shadow: 2px 2px 0 0 var(--softpink);
    cursor: pointer;
    padding: 5px;
    font-weight: 500;
}

.disabled {
    background-color: rgb(222, 222, 222);
    cursor: not-allowed;
}

.disabled:hover {
    background-color: rgb(222, 222, 222);
    cursor: not-allowed;
  }

/* #cart-toggle:checked + .cartmenu{
    display: flex;
} */

.open-cart {
    display: flex;
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
  }

.overlay{
    position: absolute;
    top:70px;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    display: none;
}  

.show-overlay{
display: flex;
}
/*-------- MAIN --------*/
body {
    margin-top: 70px;
}
/*-------- HERO --------*/
#hero{
    width: 100%;
    height: auto;
    padding: 80px 0 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(223,174,231,1) 75%);
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    width: 100%;
    max-width: 900px;
    z-index: 2;
    position: absolute;
    margin-bottom: 40%;
}

.logo{
    width: 60%;
    transition: all 1s ease-in;
}

.airplane{
    width: 50%;
}

.house{
    width: 100%;
}

/* -------- HOUSE DIVIDER -------- */
.divider{
    width: 100%;
    height: 50px;
    background-color: var(--cream);
    box-shadow: -6px 4px 10px 5px rgba(255, 255, 255, 1) inset;
}

/* -------- STORE -------- */
#store{
    width: 100%;
    height: auto;
    padding: 60px 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(193,229,223,1) 75%, rgba(103,171,159,1) 100%);
}

.storetitle{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.storetitle h2{
    font-size: 18px;
    color: var(--fucsia);
    text-align: center;
}

.storetitle h1{
    font-size: 38px;
    text-align: center;
    color: white;
    text-shadow: #845a93 0px 0px 7px;
}

.store-filter{
    display: flex;
    gap: 10px;
}

.category{
font-family: fredoka, sans-serif;
font-size: 18px;
padding: 5px 10px;
border-radius: 10px;
background-color: var(--ligthpurple);
color: white;
font-weight: 400;
border: none;
box-shadow: 8px 8px 10px -8px rgba(132,90,147,0.75);
-webkit-box-shadow: 8px 8px 10px -8px rgba(132,90,147,0.75);
-moz-box-shadow: 8px 8px 10px -8px rgba(132,90,147,0.75);
}

.hoverbtn:hover  {
    box-shadow: rgba(255, 255, 255, 0.5) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.5) 0px 18px 36px -18px inset;
}

.active {
    background-color: var(--mediumpurple);
    font-weight: 500;
}

.store-products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    gap: 30px;
    height: fit-content;
}

.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    height: 350px;
    gap: 10px;
    padding: 35px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 3px 3px 10px 2px rgba(240, 198, 241, 0.4);
/* -webkit-box-shadow: 8px 8px 10px -8px rgba(132,90,147,0.75);
-moz-box-shadow: 8px 8px 10px -8px rgba(132,90,147,0.75); */
}


.product-card img{
 /* width: 100%; */
 max-height: 150px;
}

.name{
    font-size: 20px;
    text-align: center;
    text-overflow: ellipsis;
    font-weight: 600;
    color: var(--mediumpurple);
}

.price{
    font-size: 18px;
    text-align: center;
    text-overflow: ellipsis;
    font-weight: 400;
    color: var(--mediumpurple);

}

.add-btn{
    font-family: fredoka, sans-serif;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--fucsia);
    color: white;
    font-weight: 400;
    border: none;
    box-shadow: 8px 8px 10px -8px rgba(132,90,147,0.75);
    -webkit-box-shadow: 8px 8px 10px -8px rgba(132,90,147,0.75);
    -moz-box-shadow: 8px 8px 10px -8px rgba(132,90,147,0.75);
    }

.show-more-btn {
    font-family: fredoka, sans-serif;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--softpink);
    color: white;
    font-weight: 400;
    border: none;
    box-shadow: 8px 8px 10px -8px rgba(132,90,147,0.75);
    -webkit-box-shadow: 8px 8px 10px -8px rgba(132,90,147,0.75);
    -moz-box-shadow: 8px 8px 10px -8px rgba(132,90,147,0.75);
    }
    
/*-------- ABOUT --------*/
#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 10px;
    
}

.section-title{
    font-size: 35px;
    color: var(--fucsia);
}

#about p{
    max-width: 60%;
    min-width: 300px;
    text-align: center;
    color: var(--ligthpurple);
    font-size: 16px;
}

#about img{
    max-width: 60%;
    min-width: 300px;
}

/*-------- CONTACT --------*/
#contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 10px;
    background: rgb(255,197,225);
background: radial-gradient(circle, rgba(255,197,225,1) 66%, rgba(255,140,191,1) 100%);
}

.contact-container{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}

.contact-container img{
max-width: 30%;
}

.form  {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    min-width: 300px;
    max-width: 450px;
}

.form ::placeholder {
    color: var(--softpink);
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}



.form input[type=text],
input[type=email]{
    border: 1px solid var(--fucsia);
    border-radius: 1rem;
    font-size: 18px;
    padding: 10px;
    color: var(--softpink);
    padding: 10px;
    font-size: 18px;
}

.form textarea{
    border: 1px solid var(--fucsia);
    border-radius: 1rem;
    background-color: white;
    max-height: 35%;
    color: var(--softpink);
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
}


.submit-btn{
    width: fit-content;
    align-self: center;
    font-family: fredoka, sans-serif;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 10px;
    color: white;
    background-color: var(--fucsia);
    font-weight: 400;
    border: none;
    box-shadow: 8px 8px 10px -8px rgba(132,90,147,0.75);
    -webkit-box-shadow: 8px 8px 10px -8px rgba(132,90,147,0.75);
    -moz-box-shadow: 8px 8px 10px -8px rgba(132,90,147,0.75);
    }

 #form-message{
    text-align: center;
    color: white;
    font-family: fredoka, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    padding: 5px 10px;
 }

.hidden{
    display: none;
}

/*-------- FOOTER --------*/
footer{
    width: 100%;
    height: auto;
    background: var(--ligthpurple);
    color: var(--darkpurple);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    text-align: center;
}

.social{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.social h4 {
    font-family: fredoka;
    font-size: 25px;
}

.social-links{
    display: flex;
    gap: 10px;
    
}
.social-links a{
    color: var(--darkpurple);
    font-size: 25px;
}

.copyright {
    font-style: italic;
    font-size: 14px;
}

/*-------- ADD MODAL --------*/
.add-modal {
    padding: 15px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--darkpurple);
    position: fixed;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: translateY(200%);
  }

  .active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
  }
  /* ANIMATIONS */
  html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

  @-webkit-keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes translateX {
    0% {
        transform: translateX(-50%);
    }

    100%{
        transform: translateX(0%);
    }
  }

  .translateX {
    animation: translateX 1s;
    display: flex;
  }

  @keyframes translateY {
    0% {
        transform: translateY(-100%);
    }

    100%{
        transform: translateY(0%);
    }
  }

  .translateY {
    animation: translateY 1s;
  }